@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

.font-1{
	font-family: 'Baloo Da 2', serif;
}

.font-2{
	font-family: 'Josefin Slab', sans-serif;
}

.font-3{
	font-family: 'Mulish', sans-serif;
} 
.btn-rounded {
	border-radius: 0px 50px 0px 50px;
}

.btn-purple
{
	background-color: #5900FF;	
	color: white;
}
.btn-purple:hover
{
	background-color: #5D3FD3;	
	color: white;
}

#barra
{
	font-weight: 600;
	color: var(--c-light);
	transition: 0.6s;
}
#barra:hover 
{
	color: var(--c-normal);
	background: linear-gradient(0deg, rgba(83,83,83,0.4920343137254902) 0%, rgba(255,255,255,0) 100%);
	border-radius: 0px 50px 0px 50px;
}
